.App {
  text-align: center;
  display: grid;
  background-color: #282c34;
  grid-template-columns: 10px, 10px, 10px;
  grid-template-rows: 10px, 10px, 10px;
  grid-template-areas:
    'header'
    'nav'
    'display';
    min-height: 10vh;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  max-height: 20vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  grid-area: 'header'
}

.content {
  background-color: #282c3416;
  max-height: 20vh;
  display: grid;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  grid-area: "nav"

}

.display{
  background-color: #282c3416;
  min-height: 76vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  grid-area: 'display';
  padding: 10px
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ul {
    list-style-type: none;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 silver;
  transition: 0.3s;
  border-radius: 5px;
  background-color: #282c34;
  margin: 5vw;
  padding: 10px 16px;
}

.card:hover {
  box-shadow: 0 8px 16px teal;
}

.card2 {
  box-shadow: 0 4px 8px 0 silver;
  transition: 0.3s;
  border-radius: 5px;
  background-color: #282c34;
  margin: 5vw;
  padding: 10px 16px;
}

/* On mouse-over, add a deeper shadow */
.card2:hover {
  box-shadow: 0 8px 16px purple
}

.card3 {
  box-shadow: 0 4px 8px 0 silver;
  transition: 0.3s;
  border-radius: 5px;
  background-color: #282c34;
  margin: 5vw;
  padding: 10px 16px;
}


.card3:hover {
  box-shadow: 0 8px 16px aqua
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.link {
  text-decoration: none;
  color: white;
 
}

.text-link {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px #282c34;
  transition: 0.3s;
}

.text-link:hover {
  color: rgb(28, 159, 159);
  text-shadow: 0 8px 16px purple;
}

h2 {
    color: white;
    font-size: calc(10px + 3vmin);
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

