.App {
  text-align: center;
  display: grid;
  background-color: #1d2027;
  grid-template-columns: 10px, 10px, 10px;
  grid-template-rows: 10px, 10px, 10px;
  grid-template-areas:
    'header'
    'nav'
    'display';
    min-height: 10vh;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color:#1d2027;
  max-height: 12vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
 
  
}

.content {
  background-color: #1d2027;
  background-image: linear-gradient(to right, black , #1d2027);
  display: inline;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(8px + 2vmin);
  color: white;
  grid-area: "nav";
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  font-size: calc(1px + 2vmin);
  
  

}

.display{
  background-color: #1d2027;
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: white;
  grid-area: 'display';
  padding: 60px
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ul {
    list-style-type: none;
}

.inline-list {

  padding: 0px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 silver;
  transition: 0.3s;
  border-radius: 5px;
  background-color: #282c34;
  margin: 5vw;
  padding: 10px 16px;
}

.card:hover {
  box-shadow: 0 8px 16px teal;
}

.card2 {
  box-shadow: 0 4px 8px 0 silver;
  transition: 0.3s;
  border-radius: 5px;
  background-color: #282c34;
  margin: 5vw;
  padding: 10px 16px;
}

/* On mouse-over, add a deeper shadow */
.card2:hover {
  box-shadow: 0 8px 16px purple
}

.card3 {
  box-shadow: 0 4px 8px 0 silver;
  transition: 0.3s;
  border-radius: 5px;
  background-color: #282c34;
  margin: 5vw;
  padding: 10px 16px;
}




.card3:hover {
  box-shadow: 0 8px 16px aqua
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.link {
  text-decoration: none;
  color: white;
 
}

.text-link {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px #282c34;
  transition: 0.3s;
}

.text-link:hover {
  color: rgb(28, 159, 159);
  text-shadow: 0 8px 16px purple;
}

h2 {
    color: white;
    font-size: calc(10px + 3vmin);
}

.right {
  text-align: right;
}

.left {
  text-align: left;
  display: block;
  padding-right: 5px, 5px;
}

.right-date {
  text-align: right;
  font-size: calc(1px + 2vmin);
}

.vote-button {
  text-align: left;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 silver;
  transition: 0.3s;
  border-radius: 5px;
  background-color: #313438;
  margin: 3vw;
  padding: 10px 16px;
  color: white;
  border-color: #282c34;;
}

.nav-button {
  text-align: left;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 silver;
  transition: 0.3s;
  border-radius: 5px;
  background-color: #313438;
  color: white;
  border-color: #282c34;;
}

.nav-button:hover {
  box-shadow: 0 4px 8px aqua;
  color: aqua
}

.nav-button:disabled {
  box-shadow: 0 4px 8px goldenrod;
  color: goldenrod;
}

.vote-button:hover {
  box-shadow: 0 8px 16px aqua;
  color: aqua
}

.vote-button:disabled:hover {
  box-shadow: 0 8px 16px silver;
  color: silver;
}

.vote-button2 {
  text-align: left;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 silver;
  transition: 0.3s;
  border-radius: 5px;
  background-color: #313438;
  margin: 3vw;
  padding: 10px 16px;
  color: white;
  border-color: #282c34;;
}

.vote-button2:hover {
  box-shadow: 0 8px 16px darkred;
  color: red
}

.vote-button2:disabled:hover {
  box-shadow: 0 8px 16px silver;
  color: silver;
}



.text-body {
  width: 80%;
  height: 125px;
  padding: 12px 30px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  border-color: #282c34;
  outline: none;
  resize: none;
  background-color: silver;
  box-shadow: 0 2px 4px 0 silver;
  transition: 0.3s;
}

.text-body:required:invalid {
  box-shadow: 0 5px 10px darkred;
}

.text-body:required:valid {
  box-shadow: 0 5px 10px lightgreen
}

.text-body2 {
  width: 30%;
  height: 35px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  border-color: #282c34;
  outline: none;
  resize: none;
  background-color: silver;
  text-align: center
}

.text-body2:required:invalid {
  box-shadow: 0 5px 10px darkred;
}

.text-body2:required:valid {
  box-shadow: 0 5px 10px lightgreen
}

.left-text-body {
  width: 20%;
  height: 20px;
  padding: 12px 30px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  border-color: #282c34;
  outline: none;
  resize: none;
  background-color: silver;
  text-align: left;
  display: block;
  padding-right: 5px, 5px;
}

.fade-in {
  transition: opacity 1s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}

.dropdown-wrapper {
  position: relative;
  width: 200px;
}

.dropdown-wrapper .dropdown {
  background: #fff;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 50px;
  left: 0;
  font-family: "Open Sans";
  font-size: 22px;
  display: flex;
  align-items: center;
}

.ul-drop {
  background: #fff;
  color: #000000;
  list-style: none;
  margin: 0;
  font-size: 18px;
  overflow: hidden;
  height: 0px;
  transition: height 0.3s ease;
  padding: 0;
}

.ul-drop.active {
  height: 100px;
  overflow: auto;
}


.Navbar {
  height: 60px;
  background-color: black;
  padding: 0 1rem;
  border: 1px solid, #474a4d;
}

.Navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}